<div class='container-fluid'>         
        <div class='col-12 align-items-center justify-content-center"' >  
            <ngb-carousel>  
                <ng-template ngbSlide>  
                    <img src="../assets/img/chuva_recife.jpg">                     
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/img/normal-recife.jpg">                     
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/img/nublado_recife.jpg">                      
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/img/sol_recife.jpg">                     
                </ng-template>                  
            </ngb-carousel>  
        </div>  
      
    </div>  